.heading {
    margin: 0.5rem;
}

.portfolio_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.portfolio_item {
    background: var(--color-bg-variant);
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}

.portfolio_item:hover {
    border-color: var(--color-primary-variant);
    background: transparent;
}

.portfolio_item-image {
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);
}

.portfolio_item h3 {
    margin: 1.2rem 0 0 0;
}
.portfolio_item p {
    margin: 1rem 0rem 2rem 0rem;
    font-size: 1rem;
    font-weight: 200;
}

.portfolio_item-cta {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}

/* ========= TOGGLE SWITCH FOR HARDWARE AND SOFTWARE ===========*/

.switch_container {
    width: 20rem;
    margin: 1.5rem auto 2.5rem auto;
}
.switches-container {
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: var(--color-bg);
    line-height: 3rem;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(15px);
}

/* input (radio) for toggling. hidden - use labels for clicking on */
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}

/* labels for the input (radio) boxes - something to click on */
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--color-light);
}
.switches-container label:hover {
    color: var(--color-white);
}

.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
    /* transition: transform 1s; */
}
.switch {
    border-radius: 3rem;
    background: var(--color-primary);
    height: 100%;
}
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    /* ======= Yaha par wo toggle ka color change krskte hai ==== */
    color: var(--color-bg-variant); 
    font-weight: 500;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}

/* slide the switch box from right to left */
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}

/* slide the switch box from left to right */
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}

/* toggle the switch box labels - first checkbox:checked - show first switch div */
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}

/* toggle the switch box labels - second checkbox:checked - show second switch div */
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}

/* =========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .portfolio_container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* =========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .portfolio_container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}