.image {
    width: 3rem;
    margin: 0.8rem auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup {
    width: 400px;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    /* position: absolute; */
    margin: auto 50%;
    transform: translate(-50%, -150%);
    text-align: center;
    padding: 20px 30px 30px;
    color: var(--color-white);
    transition: var(--transition);
}
.popup-btn {
    width: 60%;
    margin-top: 1.5rem;
    font-weight: 500;
    box-shadow: 0 2px 5px rgba(0,0,0,2);
    transition: var(--transition);
}