.container.achievement_container {
    width: 60%;
}

.certificate_image {
    overflow: hidden;
    margin: 2rem auto 1rem;
    border: 0.6rem solid var(--color-primary-variant);
    border-radius: 10px;
}

.achievement {
    text-align: center;
}